section{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #492EB7;
    width: 80%;
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.9rem;
    gap: 1rem;
}

label {
    font-size: 2rem;
    font-weight: 500;
    background-color: transparent;
}

input {
    width: 90%;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 0.9rem;
    background-color: #281696;
    color: white;
    font-size: 1rem;
}

.botao__fazer__login{
    color: rgb(216, 190, 190);
    background-color: green;
}