section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 1rem;
}

button{
    height: 15rem;
    width: 20rem;
    font-size: 2rem;
}

button:hover{
    transition: 1s;
    background-color: blue;
}
